################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpatialEnrichment/bin/Debug/lines_0.csv
/SpatialEnrichment/bin/Debug/coords_0.csv
/SpatialEnrichment/bin/Debug/coordSample_0.csv
/SpatialEnrichment/obj/Debug
/SpatialEnrichmentWrapper/bin/Debug
/SpatialEnrichmentWrapper/obj/Debug
/SpatialEnrichment/bin/Debug
UsageExample/bin/Debug/UsageExample.vshost.exe
UsageExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UsageExample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UsageExample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UsageExample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UsageExample/obj/Debug/UsageExample.csproj.FileListAbsolute.txt
UsageExample/obj/Debug/UsageExample.csprojResolveAssemblyReference.cache
UsageExample/obj/Debug/UsageExample.exe
UsageExample/obj/Debug/UsageExample.pdb
