{
"BatchAccountName": "phdresearch",
"BatchAccountKey": "dv5Q6DV91fAsROpZwSETXy1Crclx0tT2aEQ/YBh/XqoZ3BS3j0k+imdxpMUd8PFUqDExsQZPlf++2GOifyD6hA==",
"BatchAccountUrl": "https://phdresearch.westus2.batch.azure.com",
"StorageAccountName": "phdstorageacc",
"StorageAccountKey": "bGXlDXtIkGo+2NTpQMtAHK/tmsp8pZ9UVObqkd8u/GBuFzceDCEEWaQiN1dAcpMxUgBfkB3+iHOyqrSboUp9jg==",
"MaxDedicatedCores": "3",
"MaxLowPrioCores": "10"
}