{
"BatchAccountName": "phdresearch",
"BatchAccountKey": "dv5Q6DV91fAsROpZwSETXy1Crclx0tT2aEQ/YBh/XqoZ3BS3j0k+imdxpMUd8PFUqDExsQZPlf++2GOifyD6hA==",
"BatchAccountUrl": "https://phdresearch.westus2.batch.azure.com",
"StorageAccountName": "phdresearch",
"StorageAccountKey": "dv5Q6DV91fAsROpZwSETXy1Crclx0tT2aEQ/YBh/XqoZ3BS3j0k+imdxpMUd8PFUqDExsQZPlf++2GOifyD6hA==",
"MaxDedicatedCores": "2",
"MaxLowPrioCores": "2"
}