<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BatchAccountName" value="phdresearch"/>
    <add key="BatchAccountKey" value="dv5Q6DV91fAsROpZwSETXy1Crclx0tT2aEQ/YBh/XqoZ3BS3j0k+imdxpMUd8PFUqDExsQZPlf++2GOifyD6hA=="/>
    <add key="BatchAccountUrl" value="https://phdresearch.westus2.batch.azure.com"/>
    <add key="StorageAccountName" value="phdstorageacc"/>
    <add key="StorageAccountKey" value="bGXlDXtIkGo+2NTpQMtAHK/tmsp8pZ9UVObqkd8u/GBuFzceDCEEWaQiN1dAcpMxUgBfkB3+iHOyqrSboUp9jg=="/>
<!--
    <add key="BatchAccountName" value="phdresearch"/>
    <add key="BatchAccountKey" value="9ZOjIdM35Nt9NR9aZRlG5xefBMgNfmdTfd/6NGSE3P8y+yrUS3wGMGIKoVW1mZIMEsG3mqCTPGlsO3gjW6YvMw=="/>
    <add key="BatchAccountUrl" value="https://phdresearch.eastus.batch.azure.com"/>
    <add key="StorageAccountName" value="phdresearch"/>
    <add key="StorageAccountKey" value="PXrXNnXPW3ymQiG140QRq0aSYpmqVOZxt+KvJ65bTAsCy5mowEyIiOyqjxQ3r5Ru5M4QRrUvfvcqEGTKIR5lZg=="/>
-->
<!--
    <add key="BatchAccountName" value="phdresearch"/>
    <add key="BatchAccountKey" value="dv5Q6DV91fAsROpZwSETXy1Crclx0tT2aEQ/YBh/XqoZ3BS3j0k+imdxpMUd8PFUqDExsQZPlf++2GOifyD6hA=="/>
    <add key="BatchAccountUrl" value="https://phdresearch.westus2.batch.azure.com"/>
    <add key="StorageAccountName" value="phdresearch"/>
    <add key="StorageAccountKey" value="dv5Q6DV91fAsROpZwSETXy1Crclx0tT2aEQ/YBh/XqoZ3BS3j0k+imdxpMUd8PFUqDExsQZPlf++2GOifyD6hA=="/>
-->


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>